Repository canonical/craft-parts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @canonical/starcraft-reviewers, @canonical/starcraft-authors, @steinbro

docs: fix 'Part properties' typos
  craft_parts/parts.py
  docs/common/craft-parts/reference/part_properties.rst
Owners: @canonical/starcraft-reviewers, @canonical/starcraft-authors

fix: add setup command to meson (#1346)
  craft_parts/plugins/meson_plugin.py
  docs/reference/changelog.rst
  tests/unit/plugins/test_meson_plugin.py
Owners: @canonical/starcraft-reviewers, @canonical/starcraft-authors

fix(test): patch the new path
  tests/unit/sources/test_git_source.py
Owners: @canonical/starcraft-reviewers

fix: append/extend fix
  craft_parts/sources/git_source.py
Owners: @canonical/starcraft-reviewers

docs: fix broken ref
  docs/reference/changelog.rst
Owners: @canonical/starcraft-authors

docs: fix 'Part properties' typos (#1379)
  craft_parts/parts.py
  docs/common/craft-parts/reference/part_properties.rst
  docs/reference/changelog.rst
Owners: @canonical/starcraft-reviewers, @canonical/starcraft-authors

fix: don't use new behavior on focal and below
  craft_parts/sources/git_source.py
  tests/unit/sources/test_git_source.py
Owners: @canonical/starcraft-reviewers

style: clean up code a bit
  craft_parts/sources/git_source.py
Owners: @canonical/starcraft-reviewers

fix: ignored outdated files should still be pulled
  craft_parts/lifecycle_manager.py
  tests/unit/test_lifecycle_manager.py
Owners: @canonical/starcraft-reviewers

fix: shallow clone with source-commit if possible (#1378)
  craft_parts/sources/git_source.py
  docs/reference/changelog.rst
  tests/unit/sources/test_git_source.py
Owners: @canonical/starcraft-reviewers, @canonical/starcraft-authors

feat: allow to override jdeps
  craft_parts/plugins/jlink_plugin.py
  tests/integration/plugins/test_jlink.py
  tests/unit/plugins/test_jlink_plugin.py
Owners: @canonical/starcraft-reviewers

fix: assing default value for jlink_multi_release
  craft_parts/plugins/jlink_plugin.py
Owners: @canonical/starcraft-reviewers

docs: document new jlink plugin options
  docs/common/craft-parts/reference/plugins/jlink_plugin.rst
Owners: @canonical/starcraft-authors

docs: changelog
  docs/reference/changelog.rst
Owners: @canonical/starcraft-authors

chore: move INSTALL_ROOT initialization
  craft_parts/plugins/jlink_plugin.py
Owners: @canonical/starcraft-reviewers

docs: clarify wording for jlink-modules.
  docs/common/craft-parts/reference/plugins/jlink_plugin.rst
Owners: @canonical/starcraft-authors

docs: add `the`
  docs/common/craft-parts/reference/plugins/jlink_plugin.rst
Owners: @canonical/starcraft-authors

docs: add `the`
  docs/common/craft-parts/reference/plugins/jlink_plugin.rst
Owners: @canonical/starcraft-authors

feat: use unversioned configuration as default for multi-release
  craft_parts/plugins/jlink_plugin.py
  tests/unit/plugins/test_jlink_plugin.py
Owners: @canonical/starcraft-reviewers

fix: allow int value for jlink-multi-release
  craft_parts/plugins/jlink_plugin.py
Owners: @canonical/starcraft-reviewers

feat: add jlink plugin model validation
  craft_parts/plugins/jlink_plugin.py
  tests/unit/plugins/test_jlink_plugin.py
Owners: @canonical/starcraft-reviewers

chore: add quotes around jar parameter
  craft_parts/plugins/jlink_plugin.py
Owners: @canonical/starcraft-reviewers

docs: update jlink-multi-release description
  docs/common/craft-parts/reference/plugins/jlink_plugin.rst
Owners: @canonical/starcraft-authors

fix(test): jlink plugin validation error
  tests/integration/plugins/test_jlink.py
Owners: @canonical/starcraft-reviewers

chore: simplify jlink_modules check
  craft_parts/plugins/jlink_plugin.py
Owners: @canonical/starcraft-reviewers

chore: remove duplicate line
  craft_parts/plugins/jlink_plugin.py
Owners: @canonical/starcraft-reviewers

fix: when in workspace, resolve the symlink to the real path when go work use
  craft_parts/plugins/go_plugin.py
Owners: @canonical/starcraft-reviewers

feat(plugins): add plugin groups
  craft_parts/plugins/plugins.py
  tests/integration/plugins/test_plugin_registry.py
  tests/unit/plugins/test_plugins.py
Owners: @canonical/starcraft-reviewers

fix(test): rearrange imports
  craft_parts/plugins/python_v2/python_plugin.py
Owners: @canonical/starcraft-reviewers

(WIP) add Ruby plugin
  craft_parts/plugins/plugins.py
  craft_parts/plugins/ruby_plugin.py
Owners: @canonical/starcraft-reviewers

feat: update Ruby plugin + add test
  craft_parts/plugins/ruby_plugin.py
  tests/integration/plugins/test_ruby.py
  tests/integration/plugins/test_ruby/.gitignore
  tests/integration/plugins/test_ruby/Gemfile
  tests/integration/plugins/test_ruby/exe/mytest
  tests/integration/plugins/test_ruby/lib/plugin_test.rb
  tests/integration/plugins/test_ruby/lib/plugin_test/cli.rb
  tests/integration/plugins/test_ruby/plugin_test.gemspec
Owners: @canonical/starcraft-reviewers

test: add gem install test
  craft_parts/plugins/ruby_plugin.py
  tests/integration/plugins/test_ruby.py
  tests/integration/plugins/test_ruby/Rakefile
Owners: @canonical/starcraft-reviewers

fix: ignored outdated files should still be pulled (#1383)
  craft_parts/lifecycle_manager.py
  tests/unit/test_lifecycle_manager.py
Owners: @canonical/starcraft-reviewers

test: fix test install paths
  craft_parts/plugins/ruby_plugin.py
  tests/integration/plugins/test_ruby.py
Owners: @canonical/starcraft-reviewers

test: confirm gems are in prime part
  tests/integration/plugins/test_ruby.py
Owners: @canonical/starcraft-reviewers

feat: split ruby plugin pull/build commands
  craft_parts/plugins/ruby_plugin.py
  tests/integration/plugins/test_ruby.py
Owners: @canonical/starcraft-reviewers

fix: need to build Ruby regardless of its presence in build environment
  craft_parts/plugins/ruby_plugin.py
  tests/integration/plugins/test_ruby.py
Owners: @canonical/starcraft-reviewers

test: add ruby plugin unit tests
  tests/integration/plugins/test_ruby.py
  tests/unit/plugins/test_ruby_plugin.py
Owners: @canonical/starcraft-reviewers

.github/CODEOWNERS:

# GitHub CODEOWNERS. See:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Remember, the last match takes precedence.

# Owner of libraries
*       @canonical/starcraft-reviewers

# Documentation owners
/docs/  @canonical/starcraft-authors
/docs/reference/release-notes.rst  @canonical/starcraft-reviewers

# Finally, all CODEOWNERS changes need to be approved by The Man, Himself.
/.github/CODEOWNERS     @steinbro
